<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>InitialWebApp</display-name>
	<servlet>
		<servlet-name>jersey</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>initial</param-value>
		</init-param>
		<!-- <init-param> <param-name>jersey.config.server.provider.classnames</param-name> 
			<param-value>org.glassfish.jersey.filter.LoggingFilter</param-value> </init-param> -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>ResourceServlet</display-name>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>com.sap.ui5.resource.ResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>InitialWebApp</web-resource-name>
	        <url-pattern>/resources/*</url-pattern>
	    </web-resource-collection>
	    <!-- OMIT auth-constraint -->
	</security-constraint>

	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>authentication</web-resource-name>
	        <url-pattern>/authentication/*</url-pattern>
	    </web-resource-collection>
	    <!-- OMIT auth-constraint -->
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>InitialWebApp</web-resource-name>
			<description> accessible by authenticated users</description>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>These roles are allowed access</description>
			<role-name>*</role-name>
		</auth-constraint>
		
 		<user-data-constraint>
			<!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint> 
		
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>JDBCRealm</realm-name>
   		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/error.jsp</form-error-page>
		</form-login-config> 
	</login-config>

	<security-role>
		<description>All role is allowed to access this web application</description>
		<role-name>*</role-name>
	</security-role>
	
</web-app>
